<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menuCategory">
            <h2><span>Menu Category</span> {{ menuCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{ menuCategory.label }}</span>
                </dd>
                <dt><span>Menu</span></dt>
                <dd>
                    <div *ngIf="menuCategory.menuId">
                        <a [routerLink]="['/menu-ona', menuCategory.menuId, 'view']">{{ menuCategory.menuId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu-category-ona', menuCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
