<div>
    <h2 id="page-heading">
        <span>Restaurant Tables</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant-table-ona" [routerLink]="['/restaurant-table-ona/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Restaurant Table
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="restaurantTables?.length === 0">
        <span>No restaurantTables found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="restaurantTables?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>T Number</span></th>
                    <th scope="col" ><span>T Status</span></th>
                    <th scope="col" ><span>Restaurant</span></th>
                    <th scope="col" ><span>Order</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurantTable of restaurantTables ;trackBy: trackId">
                    <td><a [routerLink]="['/restaurant-table-ona', restaurantTable.id, 'view']">{{ restaurantTable.id }}</a></td>
                    <td>{{ restaurantTable.tNumber }}</td>
                    <td>{{ restaurantTable.tStatus }}</td>
                    <td>
                        <div *ngIf="restaurantTable.restaurantId">
                            <a [routerLink]="['/restaurant-ona', restaurantTable.restaurantId , 'view']" >{{ restaurantTable.restaurantId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="restaurantTable.orderId">
                            <a [routerLink]="['/order-ona', restaurantTable.orderId , 'view']" >{{ restaurantTable.orderId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/restaurant-table-ona', restaurantTable.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/restaurant-table-ona', restaurantTable.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(restaurantTable)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
